/* Ref: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS3 */ 
abbr[title] {
    color: inherit;
    font-style: italic;
    text-decoration: none;
    border-bottom: 1px dotted #aaa;
    cursor: help;
}