@media screen and (max-width: 960px) {
.mr-tooltip .mr-tooltiptext {
    /* Position the tooltip */
    position:fixed;
    top:0;
    left: 0;
    margin-left: 0px;
    bottom: unset;
    width:100%;
    max-width: 100vw;
    z-index: 9999;
}  

.mr-tooltip:hover .mr-tooltiptext {
   opacity: 1;
}  
  
}